In [2]:
import sklearn
import pandas as pd
import numpy as np
import re

In [3]:
from sklearn.impute import SimpleImputer

In [4]:
data1= pd.read_csv("outcopy.csv",header=None)
data1

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,CH5N2,0.500,CH3NH3,0.500,Rb,0.0,Cs,0.00,Pb,1.0,...,0.65,5.521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.50
1,CH5N2,0.200,CH3NH3,0.400,Rb,0.0,Cs,0.40,Pb,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.10
2,CH5N2,0.000,CH3NH3,1.000,Rb,0.0,Cs,0.00,Pb,1.0,...,2.68,1.367,spiro - OMeTAD,-5.0,-2.05,NaN,NaN,ITO,4.50,19.04
3,CH5N2,0.000,CH3NH3,1.000,Rb,0.0,Cs,0.00,Pb,1.0,...,0.72,0.840,NaN,NaN,NaN,NaN,NaN,ITO,4.50,18.82
4,CH5N2,0.000,CH3NH3,1.000,Rb,0.0,Cs,0.00,Pb,1.0,...,0.65,5.521,NaN,NaN,NaN,NaN,NaN,ITO,4.50,18.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,CH5N2,0.255,CH3NH3,0.595,Rb,0.0,Cs,0.15,Pb,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.60
118,CH5N2,0.850,CH3NH3,0.000,Rb,0.0,Cs,0.15,Pb,1.0,...,NaN,NaN,PEDOT:PSS,5.2,2.20,NaN,NaN,NaN,NaN,8.15
119,CH5N2,0.850,CH3NH3,0.000,Rb,0.0,Cs,0.15,Pb,1.0,...,NaN,NaN,PEDOT:PSS,5.2,2.20,NaN,NaN,ITO,4.50,13.90
120,CH5N2,0.000,CH3NH3,0.000,Rb,0.0,Cs,1.00,Pb,1.0,...,2.68,1.367,NaN,NaN,NaN,NaN,NaN,FTO,4.57,7.93
121,CH5N2,0.000,CH3NH3,0.000,Rb,0.0,Cs,1.00,Pb,1.0,...,NaN,NaN,PEDOT:PSS,5.2,2.20,NaN,NaN,ITO,4.50,3.90

In [5]:
#均值：
df_mean = SimpleImputer(missing_values=np.nan, strategy='mean',copy=False)

#中位数：
df_median = SimpleImputer(missing_values=np.nan, strategy='median',copy=False)

#常数0：
df_0 = SimpleImputer(strategy="constant",fill_value=0,copy=False)

#众数：
df_most_frequent = SimpleImputer(missing_values=np.nan, strategy='most_frequent',copy=False)

In [17]:
# #A列
# df_A = df.loc[:,'A'].values.reshape(-1,1)
# df.loc[:,'A']=df_mean.fit_transform(df_A)

# #B列
# df_B = df.loc[:,'B'].values.reshape(-1,1)
# df.loc[:,'B']=df_median.fit_transform(df_B)

# #C列
# df_C = df.loc[:,'C'].values.reshape(-1,1)
# df.loc[:,'C']=df_0.fit_transform(df_C)

#众数填充
# df_glass = data1.loc[:,18].values.reshape(-1,1)
# data1.loc[:,18]=df_most_frequent.fit_transform(df_glass)
df_glass = data1.loc[:,28].values.reshape(-1,1)
data1.loc[:,28]=df_most_frequent.fit_transform(df_glass)
pd.options.display.max_columns = None
data1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,CH5N2,0.500,CH3NH3,0.500,Rb,0.0,Cs,0.00,Pb,1.0,Sn,0.0,I,1.5,Br,1.5,Cl,0.0,SnO2,6.61,0.65,5.521,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,20.50
1,CH5N2,0.200,CH3NH3,0.400,Rb,0.0,Cs,0.40,Pb,1.0,Sn,0.0,I,1.5,Br,0.0,Cl,1.5,TiO2,3.62,2.68,1.367,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,20.10
2,CH5N2,0.000,CH3NH3,1.000,Rb,0.0,Cs,0.00,Pb,1.0,Sn,0.0,I,3.0,Br,0.0,Cl,0.0,TiO2,3.62,2.68,1.367,spiro - OMeTAD,-5.0,-2.05,Ag,107.868,ITO,4.50,19.04
3,CH5N2,0.000,CH3NH3,1.000,Rb,0.0,Cs,0.00,Pb,1.0,Sn,0.0,I,3.0,Br,0.0,Cl,0.0,ZnO,5.44,0.72,0.840,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,18.82
4,CH5N2,0.000,CH3NH3,1.000,Rb,0.0,Cs,0.00,Pb,1.0,Sn,0.0,I,3.0,Br,0.0,Cl,0.0,SnO2,6.61,0.65,5.521,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,18.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,CH5N2,0.255,CH3NH3,0.595,Rb,0.0,Cs,0.15,Pb,1.0,Sn,0.0,I,3.0,Br,0.0,Cl,0.0,TiO2,3.62,2.68,1.367,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,17.60
118,CH5N2,0.850,CH3NH3,0.000,Rb,0.0,Cs,0.15,Pb,1.0,Sn,0.0,I,3.0,Br,0.0,Cl,0.0,TiO2,3.62,2.68,1.367,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,8.15
119,CH5N2,0.850,CH3NH3,0.000,Rb,0.0,Cs,0.15,Pb,1.0,Sn,0.0,I,3.0,Br,0.0,Cl,0.0,TiO2,3.62,2.68,1.367,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,13.90
120,CH5N2,0.000,CH3NH3,0.000,Rb,0.0,Cs,1.00,Pb,1.0,Sn,0.0,I,0.0,Br,3.0,Cl,0.0,TiO2,3.62,2.68,1.367,PEDOT:PSS,5.2,2.20,Ag,107.868,FTO,4.57,7.93
121,CH5N2,0.000,CH3NH3,0.000,Rb,0.0,Cs,1.00,Pb,1.0,Sn,0.0,I,0.0,Br,3.0,Cl,0.0,TiO2,3.62,2.68,1.367,PEDOT:PSS,5.2,2.20,Ag,107.868,ITO,4.50,3.90

In [34]:
outputpath='C:\\Users\\sy\\Desktop\\out2.csv'
data1.to_csv(outputpath)#将数据输出到csv文件当中

In [23]:
data2=data1[1].map(str)+data1[3].map(str)+data1[5].map(str)+data1[7].map(str)+data1[9].map(str)+data1[11].map(str)+data1[13].map(str)+data1[15].map(str)+data1[17].map(str)+data1[18].map(str)+data1[22].map(str)+data1[25].map(str)+data1[27].map(str)
data2

0          0.50.50.00.01.00.01.51.50.0SnO2PEDOT:PSSAgITO
1          0.20.40.00.41.00.01.50.01.5TiO2PEDOT:PSSAgITO
2      0.01.00.00.01.00.03.00.00.0TiO2spiro - OMeTADA...
3           0.01.00.00.01.00.03.00.00.0ZnOPEDOT:PSSAgITO
4          0.01.00.00.01.00.03.00.00.0SnO2PEDOT:PSSAgITO
                             ...
117    0.2550.5950.00.151.00.03.00.00.0TiO2PEDOT:PSSA...
118      0.850.00.00.151.00.03.00.00.0TiO2PEDOT:PSSAgITO
119      0.850.00.00.151.00.03.00.00.0TiO2PEDOT:PSSAgITO
120        0.00.00.01.01.00.00.03.00.0TiO2PEDOT:PSSAgFTO
121        0.00.00.01.01.00.00.03.00.0TiO2PEDOT:PSSAgITO
Length: 122, dtype: object

In [24]:
dataHB=pd.concat([data2,data1[29]],axis=1)
dataHB

                                                    0      29
0        0.50.50.00.01.00.01.51.50.0SnO2PEDOT:PSSAgITO  20.50
1        0.20.40.00.41.00.01.50.01.5TiO2PEDOT:PSSAgITO  20.10
2    0.01.00.00.01.00.03.00.00.0TiO2spiro - OMeTADA...  19.04
3         0.01.00.00.01.00.03.00.00.0ZnOPEDOT:PSSAgITO  18.82
4        0.01.00.00.01.00.03.00.00.0SnO2PEDOT:PSSAgITO  18.34
..                                                 ...    ...
117  0.2550.5950.00.151.00.03.00.00.0TiO2PEDOT:PSSA...  17.60
118    0.850.00.00.151.00.03.00.00.0TiO2PEDOT:PSSAgITO   8.15
119    0.850.00.00.151.00.03.00.00.0TiO2PEDOT:PSSAgITO  13.90
120      0.00.00.01.01.00.00.03.00.0TiO2PEDOT:PSSAgFTO   7.93
121      0.00.00.01.01.00.00.03.00.0TiO2PEDOT:PSSAgITO   3.90

[122 rows x 2 columns]

In [25]:
df2=dataHB.sort_values(by=[0,29],ascending=[True,False])
df2

                                                    0      29
44            0.00.00.00.51.00.02.00.50.0TiO2PTAAAgITO   9.80
59       0.00.00.01.00.01.03.00.00.0TiO2PEDOT:PSSAgITO   4.27
120      0.00.00.01.01.00.00.03.00.0TiO2PEDOT:PSSAgFTO   7.93
121      0.00.00.01.01.00.00.03.00.0TiO2PEDOT:PSSAgITO   3.90
51            0.00.00.01.01.00.02.01.00.0TiO2P3HTAgITO   8.80
..                                                 ...    ...
62   0.850.150.00.01.00.02.550.450.0TiO2PEDOT:PSSAuFTO  18.51
94       1.00.00.00.01.00.03.00.00.0TiO2PEDOT:PSSAgFTO   9.84
9        1.00.00.00.01.00.03.00.00.0TiO2PEDOT:PSSAgITO  17.40
61       1.00.00.00.01.00.03.00.00.0TiO2PEDOT:PSSAgITO   2.92
23     1.00.00.00.01.00.03.00.00.0ZnOSpiro-OMeTADAgITO  15.50

[122 rows x 2 columns]

In [26]:
outputpath='C:\\Users\\sy\\Desktop\\out3.csv'
df2.to_csv(outputpath)#将数据输出到csv文件当中